[submodule "learnlytics-backend"]
	path = learnlytics-backend
	url = git@github.com:BenEdV/UGuide_backend.git
[submodule "learnlytics-frontend"]
	path = learnlytics-frontend
	url = git@github.com:BenEdV/UGuide_frontend.git
