[submodule "UGuide_frontend"]
	path = learnlytics-frontend
	url = git@github.com:BenEdV/UGuide_frontend.git
[submodule "UGuide_backend"]
	path = learnlytics-backend
	url = git@github.com:BenEdV/UGuide_backend.git
